<div class="d-flex justify-content-center">
	<div class="col col-lg-6">
		<form #f="ngForm" (ngSubmit)="onSubmit(f)">
			<div class="mb-3">
				<label for="nome" class="form-label">Nome</label>
				<input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="usuario.nome" required >
			</div>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Email</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="nome@email.com" name="email" [(ngModel)]="usuario.email" required email>
			</div>

			<button type="submit" class="btn btn-primary">Enviar</button>
		</form>
	</div>
</div>
