<form #f="ngForm" (ngSubmit)="onSubmit(f)" >
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<label for="nome" class="form-label">Nome</label>
			</div>
			<div class="col-sm-12">
				<input type="text" class="form-control" id="nome" name="nome"
					[(ngModel)]="usuario.nome" required #nome="ngModel"
					[ngClass]="aplicaCssErro(nome)">
				<app-campo-control-erro
					[mostrarErro]="verificaValidade(nome)"
					msgErro="Nome é obrigatório">
				</app-campo-control-erro>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<label for="exampleInputEmail1" class="form-label">Email</label>
			</div>
			<div class="col-sm-12">
				<input type="email" class="form-control" id="email" placeholder="nome@email.com"
				name="email" [(ngModel)]="usuario.email" required email #email="ngModel"
				[ngClass]="aplicaCssErro(email)">
				<app-campo-control-erro
					[mostrarErro]="verificaValidade(email)"
					msgErro="Email invalido">
				</app-campo-control-erro>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<label for="cep" class="form-label">CEP</label>
				<input type="text" class="form-control" id="cep" name="cep" ngModel required #cep="ngModel"
				[ngClass]="aplicaCssErro(cep)">
				<app-campo-control-erro
					[mostrarErro]="verificaValidade(cep)"
					msgErro="CEP é obrigatório">
				</app-campo-control-erro>
			</div>
			<div class="col-sm-3">
				<label for="numero" class="form-label">Número</label>
				<input type="text" class="form-control" id="numero" name="numero" ngModel required #numero="ngModel"
				[ngClass]="aplicaCssErro(numero)">
				<app-campo-control-erro
					[mostrarErro]="verificaValidade(numero)"
					msgErro="Número é obrigatório">
				</app-campo-control-erro>
			</div>
			<div class="col-sm-6">
				<label for="complemento" class="form-label">Complemento</label>
				<input type="text" class="form-control" id="complemento" name="complemento" ngModel #complemento="ngModel">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<label for="rua" class="form-label">Rua</label>
				<input type="text" class="form-control" id="rua" name="rua" ngModel #rua="ngModel" readonly required
				[ngClass]="aplicaCssErro(rua)">
				<app-campo-control-erro
					[mostrarErro]="verificaValidade(rua)"
					msgErro="Rua é obrigatório">
				</app-campo-control-erro>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<label for="bairro" class="form-label">Bairro</label>
				<input type="text" class="form-control" id="bairro" name="bairro" ngModel required #bairro="ngModel" readonly
				[ngClass]="aplicaCssErro(bairro)">
				<app-campo-control-erro
					[mostrarErro]="verificaValidade(bairro)"
					msgErro="Bairro é obrigatório">
				</app-campo-control-erro>
			</div>
			<div class="col-sm-4">
				<label for="cidade" class="form-label">Cidade</label>
				<input type="text" class="form-control" id="cidade" name="cidade" ngModel required #cidade="ngModel" readonly
				[ngClass]="aplicaCssErro(cidade)">
				<app-campo-control-erro
					[mostrarErro]="verificaValidade(cidade)"
					msgErro="Cidade é obrigatório">
				</app-campo-control-erro>
			</div>
			<div class="col-sm-3">
				<label for="estado" class="form-label">Estado</label>
				<input type="text" class="form-control" id="estado" name="estado" ngModel #estado="ngModel" readonly required=""
				[ngClass]="aplicaCssErro(estado)">
				<app-campo-control-erro
					[mostrarErro]="verificaValidade(estado)"
					msgErro="Estado é obrigatório">
				</app-campo-control-erro>
			</div>
		</div>
		<div style="margin:10px" class="col-sm-12">
			<button [disabled]="!f.valid" type="submit" class="btn btn-primary">Enviar</button>
		</div>
		<div class="col-sm-12">
			<app-form-debug [form]="f"></app-form-debug>
		</div>
	</div>
</form>
