<p fundoAmarelo>Texto com fundo amarelo</p>

<button fundoAmarelo>Botão com fundo amarelo</button>

<p highlightMouse>Texto com highlight quando passo o mouse</p>

<p highlight [defaultColor]="'grey'" [highlightColor]="'red'">
	Texto com highlight com cores customizadas
</p>

<br>
<h5>
	Diretiva customizada estruturada - ngElse
</h5>
<div *ngIf="mostrarCurso">
	Lista de Cursos
</div>
<div *ngElse="mostrarCurso">
	Não há cursos para serem listados.
</div>

<br>
<button (click)="onMostrarCursos()">
	Mostrar ou esconder cursos
</button>
