<h5>Criar/Editar Aluno</h5>

<div class="col s12">
	<div class="row">
		<div class="form-floating col s12">
			<label for="floatingInput">Id:</label><br>
			<input [(ngModel)]="aluno.id" id="floatingInput" type="text" class="form-control">
		</div>
	</div>
	<div class="row">
		<div class="form-floating col s12">
			<label for="nome">Nome: </label><br>
			<input id="nome" [(ngModel)]="aluno.nome" class="form-control">
		</div>
	</div>
	<div class="row">
		<div class="form-floating col s12">
			<label for="floatingInput">Email address</label><br>
			<input [(ngModel)]="aluno.email" id="floatingInput" type="text" class="form-control">
		</div>
	</div>
</div>
