<form [formGroup]="formulario" (submit)="onSubmit()">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<label for="nome" class="form-label">Nome</label>
			</div>
			<div class="col-sm-12">
				<input type="text" class="form-control" id="nome" formControlName="nome"
					required [ngClass]="aplicaCssErro('nome')">
			</div>
			<app-campo-control-erro
				[mostrarErro]="verificaValidade('nome')"
				msgErro="Nome é obrigatório">
			</app-campo-control-erro>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<label for="exampleInputEmail1" class="form-label">Email</label>
			</div>
			<div class="col-sm-12">
				<input type="email" class="form-control" formControlName="email" placeholder="nome@email.com"
					name="email" required email [ngClass]="aplicaCssErro('email')">
			</div>
			<app-campo-control-erro
				[mostrarErro]="verificaValidade('email')"
				msgErro="Email é obrigatório">
			</app-campo-control-erro>
		</div>
		<div formGroupName="endereco">
			<div class="row">
				<div class="col-sm-3">
					<label for="cep" class="form-label">CEP</label>
					<input type="text" class="form-control" id="cep" formControlName="cep" name="cep"
						[ngClass]="aplicaCssErro('endereco.cep')"
						(blur)="consultaCEP()">
					<app-campo-control-erro
						[mostrarErro]="verificaValidade('endereco.cep')"
						msgErro="CEP é obrigatório">
					</app-campo-control-erro>
				</div>
				<div class="col-sm-3">
					<label for="numero" class="form-label">Número</label>
					<input type="text" class="form-control" id="numero" formControlName="numero" name="numero" required
						[ngClass]="aplicaCssErro('endereco.numero')">
					<app-campo-control-erro
							[mostrarErro]="verificaValidade('endereco.numero')"
							msgErro="Número é obrigatório">
						</app-campo-control-erro>
				</div>
				<div class="col-sm-6">
					<label for="complemento" class="form-label">Complemento</label>
					<input type="text" class="form-control" id="complemento" formControlName="complemento" name="complemento">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label for="rua" class="form-label">Rua</label>
					<input type="text" class="form-control" id="rua" formControlName="rua" name="rua" readonly required
					[ngClass]="aplicaCssErro('endereco.rua')">
					<app-campo-control-erro
						[mostrarErro]="verificaValidade('endereco.rua')"
						msgErro="Rua é obrigatório">
					</app-campo-control-erro>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">
					<label for="bairro" class="form-label">Bairro</label>
					<input type="text" class="form-control" id="bairro" formControlName="bairro" name="bairro" required readonly
					[ngClass]="aplicaCssErro('endereco.bairro')">
					<app-campo-control-erro
						[mostrarErro]="verificaValidade('endereco.bairro')"
						msgErro="Bairro é obrigatório">
					</app-campo-control-erro>
				</div>
				<div class="col-sm-4">
					<label for="cidade" class="form-label">Cidade</label>
					<input type="text" class="form-control" id="cidade" formControlName="cidade" name="cidade" required readonly
					[ngClass]="aplicaCssErro('endereco.cidade')">
					<app-campo-control-erro
						[mostrarErro]="verificaValidade('endereco.cidade')"
						msgErro="Cidade é obrigatório">
					</app-campo-control-erro>
				</div>
				<div class="col-sm-3">
					<label for="estado" class="form-label">Estado</label>
					<input type="text" class="form-control" id="estado" name="estado" formControlName="estado" readonly required=""
					[ngClass]="aplicaCssErro('endereco.estado')">
					<app-campo-control-erro
						[mostrarErro]="verificaValidade('endereco.estado')"
						msgErro="Estado é obrigatório">
					</app-campo-control-erro>
				</div>
			</div>
		</div>

		<div style="margin:10px" class="col-sm-12">
			<button type="submit" class="btn btn-primary">Enviar</button>
			<button  (click)="resetar()" class="btn btn-danger">Cancelar</button>
		</div>
		<div class="col-sm-12">
			<app-form-debug [form]="formulario"></app-form-debug>
		</div>
	</div>
</form>
