<!--<section class="property-binding">

    <article>
        <h3>Interpolação</h3>
        <p>String com Interpolação: {{ url }}</p>
        <p>A soma de 1 + 1 não é dois: {{ 1 + 1 + getValor() }}</p>
    </article>

    <article>
        <h2>Property Binding</h2>
        <img src="{{ urlImagem }}">
        <img [src]="urlImagem">

    </article>  -->

 <!--<article>
        <h3>Class e Style</h3>
        <div>
            Selecione uma classe
            <select #classe (change)="0">
                <option value="alert-success">Success</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Warning</option>
                <option value="alert-danger">Danger</option>
            </select>
            <br><br>

            <div class="alert {{ classe.value }}" role="alert">
                Texto colorido de acordo com o alerta
            </div>

            <div class="alert" role="alert"
                [class.alert-success]="classe.value == 'alert-success'">Success</div>
            <div class="alert" role="alert"
                [class.alert-info]="classe.value == 'alert-info'">Info</div>
            <div class="alert" role="alert"
                [class.alert-warning]="classe.value == 'alert-warning'">Warning</div>
            <div class="alert" role="alert"
                [class.alert-danger]="classe.value == 'alert-danger'">Danger</div>

            <div class="alert alert-danger" role="alert"
                [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'"
                >Aparece somente se for alerta de erro 
            </div>
        </div>
    </article>
 
</section>
-->
<!--
<section class="event-binding">
    <article>
        <h3>Event binding</h3>
        <div>
            <button (click)="botaoClicado()" class="btn btn-primary">
                Me clique!
            </button><br><br>
            <input type="text"
                (keyup)="onKeyUp($event)"
                (keyup.enter)="salvarValor(campoInput)"
                (blur)="salvarValor(campoInput)"
                #campoInput>

            <p>Valor atual: {{ valorAtual }}</p>
            <p>Valor salvo: {{ valorSalvo }}</p>            

            <br>
            <span
                (mouseover)="onMouseOverOur()"
                (mouseout)="onMouseOverOur()"
                [class.highlight]="isMouseOver">
                Passe o mouse sobre mim
            </span>
        </div>
    </article>

</section>
-->
<!--
<section class="two-way-binding">
    <article>
        <h3>Two-Way Data Binding</h3>
        <div>
            <input type="text"
             [(ngModel)]="nome"             
             />

             <p>Voce digitou: {{ nome }}</p>
        </div>
        <div>
            <input type="text" [(ngModel)]="pessoa.nome"/>
            <input type="text" [(ngModel)]="pessoa.idade"/>
            <p>Meu nome é {{ pessoa.nome }} e minha idade é {{ pessoa.idade }} anos</p>
        </div>
    </article>
</section>
-->
<section class="input-output-properties">
    <article>
        <h3>Input/Output Porperties</h3>
        <app-curso [nome]="nomeDoCurso"></app-curso>
    </article>
</section>